Nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  width: 85%;

  .nav--logo {
    &:hover {
      transition: 500ms;
      opacity: 85%;
    }
    .logo-container {
      display: flex;
      align-items: center;
      .logo-titles {
        h1 {
          font-size: 1.8em;
          color: #313d3f;
        }
        h2 {
          font-family: 'Noto Sans JP', sans-serif;
          font-size: 1em;
          color: #464c54;
        }
      }
      .logo-image {
        img {
          width: 100px;
          height: 70px;
        }
      }
    }
  }
  .nav__link--list {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav__link {
      font-size: 1.3rem;
      color: #464c54;
      &:hover {
        cursor: pointer;
      }
    }
    .contact-button {
      background-color: #2123ab;
      color: white;
      padding: 8px 20px;
      border-radius: 20px;
      &:hover {
        transition: 300ms;
        background-color: #2c2ffc;
      }
    }
  }
}
